{{! prettier-ignore }}
<div class="table-responsive mx-n1 px-1 scrollbar">
  <table class="table table-striped fs--2 mb-0 overflow-hidden">
    <thead>
      <tr>
        <th
          class="sort border-top white-space-nowrap align-middle"
          scope="col"
          style="min-width:360px;"
        >
          USER
        </th>
        <th
          class="sort border-top align-middle"
          scope="col"
          style="min-width:110px;"
        >
          COMMENT
        </th>
        <th
          class="sort border-top text-end align-middle"
          scope="col"
        >
          TIME
        </th>
        {{! <th class="sort border-top text-end pe-0 align-middle" scope="col">
            ACTION
          </th> }}
      </tr>
    </thead>
    <tbody class="list" id="table-latest-post-body">
      {{#each this}}
        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
          {{! USER }}
          <td
            class="align-middle user white-space-nowrap"
            style="min-width:200px;"
          >
            <div class="d-flex align-items-center">
              <div class="avatar avatar-l">
                <img
                  class="rounded-circle"
                  src="/img/team/{{user_id}}.png"
                  alt=""
                />
              </div>
              <h6 class="mb-0 ms-3 text-900">
                {{user.username}}
              </h6>
            </div>
          </td>
          {{! COMMENT }}
          <td
            class="align-middle comments white-space-nowrap text-wrap"
            style="width: 54rem; min-width:110px; font-size:1rem;"
          >
            <span class="fa fa-comments text-primary"></span>
            {{comment_text}}
          </td>
          {{! TIME }}
          <td class="align-middle text-end time white-space-nowrap">
            <div>
              <h6 class="text-1000 mb-0">
                {{format_date created_at}}
              </h6>
            </div>
          </td>
          {{! ACTION }}
          {{! <td class="align-middle white-space-nowrap text-end pe-0">
  <div class="position-relative">
    <div class="hover-actions">
      <button class="btn btn-sm btn-phoenix-secondary me-1 fs--2">
        <span class="fas fa-check"></span>
      </button>
      <button class="btn btn-sm btn-phoenix-secondary fs--2">
        <span class="fas fa-trash"></span>
      </button>
    </div>
  </div>
  <div class="font-sans-serif btn-reveal-trigger">
    <button
      class="btn btn-link fs--2 text-600 btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal"
      type="button"
      data-bs-toggle="dropdown"
      data-boundary="window"
      aria-haspopup="true"
      aria-expanded="false"
      data-bs-reference="parent"
    >
      <span class="fas fa-ellipsis-h fs--2"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-end border py-2">
      <a class="dropdown-item" href="#!">
        View
      </a>
      <a class="dropdown-item" href="#!">
        Export
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-danger" href="#!">
        Remove
      </a>
    </div>
  </div>
</td> }}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{! Pagination }}
<div class="row align-items-center py-2">
  <div class="pagination d-none"></div>
  <div class="col d-flex fs--1">
    <p
      class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
      data-list-info
    ></p>
    <a class="fw-semi-bold" href="#!" data-list-view="*">
      View all
      <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
    </a>
    <a class="fw-semi-bold d-none" href="#!" data-list-view="less">
      View Less
    </a>
  </div>
  <div class="col-auto d-flex">
    <button
      class="btn btn-link px-1 me-1"
      type="button"
      title="Previous"
      data-list-pagination="prev"
    >
      <span class="fas fa-chevron-left me-2"></span>
      Previous
    </button>
    <button
      class="btn btn-link px-1 ms-1"
      type="button"
      title="Next"
      data-list-pagination="next"
    >
      Next
      <span class="fas fa-chevron-right ms-2"></span>
    </button>
  </div>
</div>