<nav
    class="navbar navbar-light navbar-vertical navbar-vibrant navbar-expand-lg"
  >
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <div class="navbar-vertical-content scrollbar">
        <ul class="navbar-nav flex-column" id="navbarVerticalNav">
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard">
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span data-feather="cast"></span>
                </span>
                <span class="nav-link-text">
                  Dashbboard
                </span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <p class="navbar-vertical-label">
              Pages
            </p>
            <a
              class="nav-link"
              href="/"
              role="button"
              data-bs-toggle=""
              aria-expanded="false"
            >
              <div class="d-flex align-items-center">
                <span class="nav-link-icon">
                  <span data-feather="flag"></span>
                </span>
                <span class="nav-link-text">
                  Homepage
                </span>
              </div>
            </a>
            <a
              class="nav-link dropdown-indicator"
              href="#authentication"
              role="button"
              data-bs-toggle="collapse"
              aria-expanded="false"
              aria-controls="authentication"
            >
              <div class="d-flex align-items-center">
                <div class="dropdown-indicator-icon d-flex flex-center">
                  <span class="fas fa-caret-right fs-0"></span>
                </div>
                <span class="nav-link-icon">
                  <span data-feather="lock"></span>
                </span>
                <span class="nav-link-text">
                  Authentication
                </span>
              </div>
            </a>

            <ul class="nav collapse parent" id="authentication">

              {{#if loggedIn}}
              {{!-- SIGN-OUT --}}
              <li class="nav-item">
                <a
                  href="/authentication/sign-out"
                  class="nav-link"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">
                      Sign out
                    </span>
                  </div>
                </a>
              </li>
              {{!-- RESET PASS --}}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/authentication/reset-password"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">
                      Reset password
                    </span>
                  </div>
                </a>
              </li>
              {{!-- LOCK SCREEN --}}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/authentication/lock-screen"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">
                      Lock screen
                    </span>
                  </div>
                </a>
              </li>
              {{else}}
              {{!-- SIGN-UP --}}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="authentication/sign-up"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">
                      Sign up
                    </span>
                  </div>
                </a>
              </li>
              {{!-- SIGN-IN --}}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="authentication/sign-in"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">
                      Sign in
                    </span>
                  </div>
                </a>
              </li>
              {{!-- FORGOT PASS --}}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/authentication/forgot-password"
                  data-bs-toggle=""
                  aria-expanded="false"
                >
                  <div class="d-flex align-items-center">
                    <span class="nav-link-text">
                      Forgot password
                    </span>
                  </div>
                </a>
              </li>
              {{/if}}
            </ul>

          </li>
        </ul>
      </div>
      <div class="navbar-vertical-footer">
        <a class="btn btn-link border-0 fw-semi-bold d-flex ps-0" href="#!">
          <span
            class="navbar-vertical-footer-icon"
            data-feather="log-out"
          ></span>
          <span>
            Settings
          </span>
        </a>
      </div>
    </div>
  </nav>