{{!-- <!-- Vertical Navbar --> --}}
{{> vertical_nav}}
{{!-- <!-- Top Navbar --> --}}
{{> top_nav}}

{{! <!-- Main Content --> }}
<div class="content pt-5">
    <footer class="footer">
        {{> footer}}
    </footer>
</div>
