{{> vertical_nav}}

{{> top_nav}}

<div class="content">
  <div class="d-flex flex-center content-min-h">
    <div class="text-center py-9">
      <img
        class="img-fluid mb-7"
        src="/img/spot-illustrations/3.gif"
        alt=""
      />
      <h1 class="text-800 fw-normal mb-5">
        Welcome to your future.
      </h1>
      <a
        class="btn btn-lg btn-primary"
        href="/authentication/sign-in"
      >
        Get Started
      </a>
    </div>
  </div>
  {{> footer}}
</div>