<div class="container">
  <div class="row flex-center min-vh-100 py-5">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
      <div class="text-center mb-5">
        <div class="avatar avatar-3xl mb-4">
          <img
            class="rounded-circle"
            src="/img/team/30.png"
            alt=""
          />
        </div>
        <h2 class="text-800">
          <span class="fw-normal">
            Hello
          </span>
          Jerry Seinfield
        </h2>
        <p class="text-700">
          Enter your password to access the admin
        </p>
      </div>
      <input
        class="form-control mb-3"
        id="password"
        type="password"
        placeholder="Enter Password"
      />
      <button class="btn btn-primary w-100">
        Sign In
      </button>
    </div>
  </div>
</div>