<div class="container">
  <div class="row flex-center min-vh-100 py-5">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
      <a
        class="d-flex flex-center text-decoration-none mb-4"
        href="/"
      >
        <div class="d-flex align-items-center">
          <img
            src="/img/icons/logo.png"
            alt="Blockdust"
            width="58"
          />
        </div>
      </a>
      <div class="text-center mb-6">
        <h4 class="text-800">
          Reset new password
        </h4>
        <p class="text-700">
          Type your new password
        </p>
        <form class="mt-5">
          <input
            class="form-control mb-2"
            id="password"
            type="password"
            placeholder="Type new password"
          />
          <input
            class="form-control mb-4"
            id="confirmPassword"
            type="password"
            placeholder="Cofirm new password"
          />
          <button class="btn btn-primary w-100" type="submit">
            Set Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>