<div class="container">
  <div class="row flex-center min-vh-100 py-5">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
      <a class="d-flex flex-center text-decoration-none mb-4" href="/">
        <div class="d-flex align-items-center">
          <img src="/img/icons/logo.png" alt="block dust" width="58" />
        </div>
      </a>
      <div class="text-center mb-7">
        <h3>
          Sign Up
        </h3>
        <p class="text-700">
          Create your account today
        </p>
      </div>
      <button class="btn btn-phoenix-secondary w-100 mb-3">
        <span class="fab fa-google text-google me-2 fs--1"></span>
        Sign up with google
      </button>
      <button class="btn btn-phoenix-secondary w-100">
        <span class="fab fa-facebook text-facebook me-2 fs--1"></span>
        Sign up with facebook
      </button>
      <div class="position-relative mt-4">
        <hr class="bg-200" />
        <div class="divider-content-center">
          or use email
        </div>
      </div>
      <form class="signup-form">
        <div class="mb-3 text-start">
          <label class="form-label" for="username-signup">
            Username
          </label>
          <input
            autocomplete="username"
            class="form-control"
            id="username-signup"
            placeholder="Username"
          />
        </div>
        <div class="mb-3 text-start">
          <label class="form-label" for="email-signup">
            Email address
          </label>
          <input
            autocomplete="email"
            class="form-control"
            id="email-signup"
            type="email"
            placeholder="name@example.com"
          />
        </div>
        <div class="row g-3 mb-3">
          <label class="form-label" for="password-signup">
            Password
          </label>
          <input
            class="form-control form-icon-input"
            type="password"
            id="password-signup"
            autocomplete="new-password"
            placeholder="Password"
          />
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" id="termsService" type="checkbox" />
          <label class="form-label" for="termsService">
            I accept the
            <a href="#!">
              terms
            </a>
            and
            <a href="#!">
              privacy policy
            </a>
          </label>
        </div>
        <button class="btn btn-primary w-100 mb-3" type="submit">
          Sign up
        </button>
        <div class="text-center">
          <a class="fs--1 fw-bold" href="/authentication/sign-in">
            Log into an existing account
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>